name: Build and  Run Unit tests

on:
  push:
    branches: [ "develop" ]

jobs:
 build_run_test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkot repo
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run unit tests
      run:  dotnet test HouseRentingSystem.UnitTests/HouseRentingSystem.UnitTests.csproj --no-build --verbosity normal
